.productdisplay{
    display: flex;
    margin: 0px 70px;
}
.productdisplay-left{
    display: flex;
    gap: 17px;
}
.productdispaly-imglist{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.productdispaly-imglist img{
    height: 125px;
}
.main-img{
    width: 450px;
    height: 550px;
}
.productdisplay-right{
    display: flex;
    flex-direction: column;

    margin: 0px 70px;
}
.productdisplay-right p{
    color: #3d3d3d;
    font-size: 22px;
    font-weight: 700;
}
.productdisplay-rightstar{
    display: flex;
    align-items: center;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
    margin: 30px 0px;
}
.dispalyright-prices{
    display: flex;
    margin: 20px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;

}
.oldprice{
    color: #818181;
    text-decoration: line-through;
}
.newprice{
    color: #ff4141;
}

/* .productdisplay-right-sizes{
    display: flex;
    margin: 20px 0px;
    gap: 20px;
} */
/* .productdisplay-right-sizes div{
    padding: 10px 20px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
} */
.productdisplay-right button{
    padding: 20px 40px;
    width: 200px;
    font-weight: 600;
    color: white;
    background: #ff4141;
    border: none;
    outline: none;
    cursor: pointer; 
}
.productdisplay-right-category{
margin-top: 10px;
}
.productdisplay-right-category span{
    font-weight: 600;
}

@media(max-width:1280px){
    .productdisplay{
        margin: 12px 0px;
    }
    .productdisplay-left{
        gap: 10px;
    }
    .productdispaly-imglist{
        gap: 10px;
        margin-left: 20px;
    }
    .productdispaly-imglist img{
        height: 120px;
    }
    .main-img{
        width: auto;
        height: 510px;
    }
    .productdisplay-right{
        margin: 0px 30px;
      
    }
    .productdisplay-right p{
        font-size: 22px;
        
    }
    .productdisplay-rightstar{
        
        gap:3px;
        font-size: 13px;
        
    }
    .dispalyright-prices{
        margin: 10px 0px;
        font-size: 18px;
    }
    .product_Short_Discription{
        margin-top: 50px;
        font-size: 13px;
    }
    .productdisplay-right p{
        margin-top: 20px;
    }
    .productdisplay-right button{
        width: 200px;
        padding: 15px;
        
    }

}

@media(max-width:1024px){
    .productdisplay{
        margin: 0px 30px;
    }
    .productdisplay-left{
        gap: 5px;
    }
    .productdispaly-imglist{
        gap: 10px;
        margin-left: 20px;
    }
    .productdispaly-imglist img{
        height: 80px;
    }
    .main-img{
        
        height: 350px;
    }
   .productdisplay-right p{
      font-size: 13px;
   }
    .productdisplay-rightstar img{
       width: 15px;
    }
    .dispalyright-prices{
        font-size: 18px;
    }
    .product_Short_Discription{
        margin-top: 50px;
        font-size: 12px;
    }
    .productdisplay-right p{
        margin-top: 20px;
        font-size: 20px;
    }
    .productdisplay-right button{
        width: 180px;
        padding: 15px 0x;
        margin-top: 5px;
    }
}

@media(max-width:800px){
    .productdisplay{
        margin: 0px 10px;
    }
    .productdisplay-left{
        gap: 0px;
        flex-direction: column-reverse;
        align-items: center;
    }
    .productdispaly-imglist{
        flex-direction: row; 
    }
    .productdispaly-imglist img{
        height: 70px;
    }
    .main-img{
        
        height: 350px;
    }
   .productdisplay-right p{
      font-size: 13px;
   }
    .productdisplay-rightstar img{
       width: 15px;
    }
    .dispalyright-prices{
        font-size: 18px;
    }
    .product_Short_Discription{
        margin-top: 50px;
        font-size: 12px;
    }
    .productdisplay-right {
        margin-top: 20px;
        font-size: 20px;
    }
    .productdisplay-right button{
        width: 180px;
        padding: 15px 0x;
        margin-top: 5px;
    }
}
@media(max-width:500px){
    .productdisplay{
        flex-direction: column;
    }
    .productdisplay-left{
        gap: 10px;
        flex-direction: row;
        margin: auto;
    }
    .productdispaly-imglist{
        flex-direction: column;
        gap: 8px;
    }
    .productdispaly-imglist img{
        height: 75px;
    }
    .main-img{
        height: 330px;
    }
    .productdisplay-right{
        margin: 5px;
    }
    .productdisplay-right p{
        margin-top: 15px;
        font-size: 20px;
        font-size: 20px; 
        font-weight: 500;
    }
    .productdisplay-rightstar img{
        width: 15px;
    }
    
}


